.ToggleButton {
  width: fit-content;
  padding: 8px 10px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.ToggleButton:hover:not(.active) {
  background-color: var(--light-grey);
}

.ToggleButton.active {
  font-weight: 800;
  color: var(--black);
  background-color: var(--dark-green);
  cursor: default;
}
