<div class="Sequencer">
  <div class="SequencerRow">
    <div class="ToggleButton active"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
  </div>

  <div class="SequencerRow">
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton"></div>
  </div>

  <div class="SequencerRow">
    <div class="ToggleButton active"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton active"></div>
  </div>

  <div class="SequencerRow">
    <div class="ToggleButton"></div>
    <div class="ToggleButton active"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
    <div class="ToggleButton"></div>
  </div>
</div>
