<div class="Knob">
  <div class="wrapper">
    <div class="title">Param Name</div>

    <div class="body">
      <div style="transform: rotate(0deg)"></div>
    </div>

    <div class="group" id="group1">
      <div class="bullet"></div>
      <div class="bullet"></div>
    </div>

    <div class="group" id="group2">
      <div class="bullet"></div>
      <div class="bullet"></div>
    </div>

    <div class="group" id="group3">
      <div class="bullet"></div>
      <div class="bullet"></div>
    </div>

    <div class="lastBullet"></div>
    <div class="value" id="value7">-100</div>
    <div class="value" id="value9">-66</div>
    <div class="value" id="value11">-33</div>
    <div class="value" id="value12">0</div>
    <div class="value" id="value2">33</div>
    <div class="value" id="value3">66</div>
    <div class="value" id="value5">100</div>
  </div>
</div>
