.SequencerRow {
  display: flex;
}

.SequencerRow .ToggleButton {
  width: 6.25%;
  height: 40px;
  padding: 0;
  line-height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background-color: var(--light-grey);
  color: var(--black);
  cursor: pointer;
}

.SequencerRow .ToggleButton:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
}

.SequencerRow .ToggleButton.active {
  font-weight: initial;
  color: var(--dark-green);
  background-color: var(--dark-green);
}

.SequencerRow .ToggleButton.active:hover {
  color: var(--black);
  background-color: var(--acid-green);
}
